#log {
    width: 100%;
    min-height: 150px;
    padding: 15px;
}

#card-log  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 16px 10px;
    border-radius: 4px;

}

#card-log h2 {
    padding-bottom: 16px;
    color: #eeeeee;
}

#card-log ul {
    list-style: none;
    max-height: calc(100vh - 50vh);
    overflow-y: scroll;
}

#card-log ul::-webkit-scrollbar {
    width: 15px;
    height: 100%;
    background-color: rgba(229, 144, 25, 0.441);
}

#card-log ul::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: rgba(135, 85, 14, 0.796);
}

#card-log ul li:nth-child(even) {
    margin-bottom: 10px;
    background-color: rgba(244, 162, 81, 0.796);
}

#card-log ul li:nth-child(odd) {
    background-color: rgba(147, 120, 81, 0.796);
}

.log-result {
    width: 60px;
    min-width: 400px;
    padding: 10px;
    background-color: rgb(229, 144, 25);
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(15, 15, 15, 0.526);
}
